## Al estilo de la vieja escuela

### 1. Concatenación

In [2]:
uno = "Hola"
dos = "Mundo"

In [4]:
uno + dos

'HolaMundo'

In [5]:
uno + " " + dos

'Hola Mundo'

In [1]:
nombre = "Diego"
edad = 28

In [43]:
"Hola mi nombre es " + nombre + "y tengo " + edad + "años"

TypeError: can only concatenate str (not "int") to str

In [9]:
mensaje = "Hola mi nombre es " + nombre + " y tengo " + str(edad) + " años"
mensaje

'Hola mi nombre es Diego y tengo 28 años.'

In [16]:
"Hola mi nombre es " + nombre + " y tengo " + str(edad) + " años. Este año cumplo" + str(edad+1) + "años".

SyntaxError: invalid syntax (153126681.py, line 1)

In [45]:
"Hola mi nombre es " + nombre + " y tengo " + str(edad) + " años. Este año cumplo " + str(edad+1) + " años"

'Hola mi nombre es diego canul y tengo 28 años. Este año cumplo 29 años'

**Limitaciones:**
- Poca legibilidad, especialmente con muchas variables (falta de narrativa).
- Necesidad de convertir tipos no string (int, float, etc.) manualmente usando str().

### 2. El operador %

In [19]:
nombre = "Diego"
edad = 28

In [46]:
"Hola mi nombre es %s y tengo %f años."%(nombre, edad)

'Hola mi nombre es diego canul y tengo 28.000000 años.'

In [47]:
"Hola mi nombre es %s y tengo %d"%(nombre, edad)

'Hola mi nombre es diego canul y tengo 28'

In [48]:
"Hola mi nombre es %s y tengo %d años, este año cumplo %d"%(nombre, edad, edad+1)

'Hola mi nombre es diego canul y tengo 28 años, este año cumplo 29'

**Ventajas:**
- Más limpio que la concatenación simple.

**Limitaciones:**
- Dificultad para formatear correctamente números y otros tipos de datos.
- Poco intuitivo y difícil de mantener en strings complejas.

### 3. El método .format

In [25]:
nombre = "Diego"
edad = 28

In [49]:
"Hola mi nombre es {} y tengo {} años.".format(nombre, edad)

'Hola mi nombre es diego canul y tengo 28 años.'

In [50]:
"Hola mi nombre es {} y tengo {} años.".format(nombre, edad, edad+1)

'Hola mi nombre es diego canul y tengo 28 años.'

In [51]:
"Hola mi nombre es {0} y tengo {2} años.".format(nombre, edad, edad+1)

'Hola mi nombre es diego canul y tengo 29 años.'

In [52]:
"Hola mi nombre es {nombre} y tengo {edad} años.".format(nombre="Juan", edad=25)

'Hola mi nombre es Juan y tengo 25 años.'

**Ventajas:**
- Más legible y flexible que las opciones anteriores.

**Limitaciones:**
- Puede ser verboso y repetitivo, especialmente cuando hay muchas variables o formateo complejo.

## El estilo más pythonico: f-strings

In [38]:
nombre = "diego canul"
edad = 28

In [39]:
mensaje = f"Hola mi nombre es {nombre} y tengo {edad} años"

In [40]:
mensaje

'Hola mi nombre es diego canul y tengo 28 años'

In [41]:
f"Hola mi nombre es {nombre.title} y tengo {edad} años"

'Hola mi nombre es <built-in method title of str object at 0x0000023BB01B2A70> y tengo 28 años'

In [42]:
f"Hola mi nombre es {nombre.title()} y tengo {edad} años"

'Hola mi nombre es Diego Canul y tengo 28 años'

In [53]:
f"Hola mi nombre es {nombre.capitalize()} y tengo {edad} años"

'Hola mi nombre es Diego canul y tengo 28 años'

In [54]:
f"Hola mi nombre es {nombre.upper()} y tengo {edad} años"

'Hola mi nombre es DIEGO CANUL y tengo 28 años'

In [55]:
f"Hola mi nombre es {nombre[:-6]} y tengo {edad} años"

'Hola mi nombre es diego y tengo 28 años'

In [56]:
f"Hola mi nombre es {nombre[:-6].capitalize()} y tengo {edad} años"

'Hola mi nombre es Diego y tengo 28 años'

**Ventajas de f-strings:**
- Legibilidad: El código es más fácil de leer y escribir.
- Potencia: Permiten evaluaciones de expresiones complejas.
- Flexibilidad: Soporta formateo avanzado de números y otros tipos de datos.

In [57]:
f"En 5 años {nombre} tendrá {edad+5} años"

'En 5 años diego canul tendrá 33 años'

In [58]:
pi = 3.14159

In [60]:
f"El valor aproximado de pi es {pi:.2f}"

'El valor aproximado de pi es 3.14'

In [61]:
num = 1000000

In [62]:
f"El número es {num:,}."

'El número es 1,000,000.'

In [66]:
numero = 7
f"Estamos en la libreta {numero:03d}"

'Estamos en la libreta 007'

In [67]:
numero = 23
f"El próximo mes será la libreta {numero:03d}"

'El próximo mes será la libreta 023'

### E1: 
Dado un día, mes y año como variables enteras, crea una f-string que imprima la fecha en el formato dd/mm/aaaa, asegurándote de que el día y el mes siempre tengan dos dígitos.

In [71]:
dia = 20
mes = 8
año = 2024

# Resultado esperado: La fecha de hoy es 20/08/2024

In [72]:
f"La fecha de hoy es {dia:02d}/{mes:02d}/{año}"

'La fecha de hoy es 20/08/2024'

### E2:
Dada una lista de productos con sus precios, utiliza una f-string para imprimir cada producto con su precio, formateado a dos decimales.

In [73]:
productos = [("Manzanas", 1.5), ("Naranjas", 2.75), ("Plátanos", 0.99)]

# Resultado esperado:
# Manzanas:     1.50
# Naranjas:     2.75
# Plátanos:     0.99

In [75]:
productos = [("Manzanas", 1.5), ("Naranjas", 2.75), ("Plátanos", 0.99)]

for producto, precio in productos:
    print(f"{producto}: {precio:.2f}")
    
# Output:
# Manzanas:      1.50
# Naranjas:      2.75
# Plátanos:      0.99

Manzanas: 1.50
Naranjas: 2.75
Plátanos: 0.99

#### E3:
Dada una lista de días y un diccionario que contiene temperaturas máximas y mínimas registradas cada día, crea un reporte que muestre la temperatura promedio para cada día.

In [76]:
dias = ["Lunes", "Martes", "Miércoles"]
temperaturas = {
    "maximas": [30, 28, 27],
    "minimas": [20, 18, 17]
}

# Resultado esperado:
# Lunes: Temperatura promedio: 25.0°C
# Martes: Temperatura promedio: 23.0°C
# Miércoles: Temperatura promedio: 22.0°C

In [78]:
dias = ["Lunes", "Martes", "Miércoles"]
temperaturas = {
    "maximas": [30, 28, 27],
    "minimas": [20, 18, 17]
}

# Iterar sobre la lista de días y calcular la temperatura promedio
for pos in range(len(dias)):
    dia = dias[pos]
    t_max = temperaturas["maximas"][pos]
    t_min = temperaturas["minimas"][pos]
    t_mean = (t_max + t_min) / 2
    
    # Usar f-string para formatear la salida
    print(f"{dia}: Temperatura promedio: {t_mean:.1f}°C")

Lunes: Temperatura promedio: 25.0°C
Martes: Temperatura promedio: 23.0°C
Miércoles: Temperatura promedio: 22.0°C