In [60]:
import pandas as pd

## 1. Funciones lambda
Una función lambda es como una función definida por el usuario (las que hemos creado con **def**) que pueden ser definidas por sin nombre, también son conocidas como funciones anónimas.

### Sintaxis:
![](../lambda.png)

In [2]:
def potencia(num):
    return num**2

In [7]:
potencia(3)

9

In [6]:
lambda num: num**2

In [8]:
(lambda num: num**2)(3)

9

In [9]:
potencia = lambda num: num**2

In [10]:
potencia(3)

9

### Cuándo usar una función lambda?
Para crear expresiones simples y específicas, funciones que se utilizan una sola vez y no es necesario definir una función completa. Pueden tomar ventaja en funciones que pueden ser descritas en una sola línea y no tiene operaciones complejas como el uso de ciclos

In [21]:
lambda x: x**3

In [23]:
_(3.4)

39.303999999999995

In [24]:
_(6.5)

TypeError: 'float' object is not callable

In [25]:
lambda x, y: x**y

In [26]:
_(4)

TypeError: <lambda>() missing 1 required positional argument: 'y'

In [27]:
_(5,3)

125

In [29]:
lambda x, y, z: x**y + z**y

In [30]:
_(y=3, x=2, z=5)

133

## 2. Uso de funciones lambda con otras funciones anónimas
Existen funciones nativas (built-in functions) de python que requieren el uso de una función como argumento
1. map()
2. filter()
3. sorted()
4. apply()


https://docs.python.org/3/library/functions.html

### 2.1 map()
Aplica una función a cada elemento de un iterable y devuelve un objeto _map_. Se utiliza cuando se requiere realizar una operación en cada elemento del iterable.

**map(function, iterable)**

In [31]:
numeros = [1,2,3,4]

In [32]:
def cuadrado(num):
    return num**2

In [33]:
cuadrado(2)

4

In [34]:
cuadrado(numeros)

TypeError: unsupported operand type(s) for ** or pow(): 'list' and 'int'

In [37]:
map(cuadrado, numeros)

In [38]:
list(map(cuadrado, numeros))

[1, 4, 9, 16]

In [39]:
list(map(lambda num: num**2, numeros))

[1, 4, 9, 16]

## 2.2 filter()
Filtra los elementos de un iterable utilizando una función que devuelve True o False. Retorna un objeto _map_ con los elementos que cumplen la condición.

**filter(function, iterable)**

In [41]:
numeros = [1,2,3,4,5,6,7,8,9,10]

In [43]:
4/2

2.0

In [47]:
4%2 == 0

True

In [48]:
5%2 == 0

False

In [49]:
filter(lambda num: num%2 == 0, numeros)

In [50]:
list(filter(lambda num: num%2 == 0, numeros))

[2, 4, 6, 8, 10]

## 2.3 sorted()
Es una función que ordena los elementos de un iterable y devuelve una lista ordenada. El criterio de ordenamiento puede ser utilizando el parámetro _key_.

**sorted(iterable, key=None, reverse=False)**

In [51]:
# Ordena la siguiente lista por orden de longitud de los nombres
nombres = ["Sophie", "Xochitl", "Eric", "Diego", "Eva"]

In [52]:
sorted(nombres)

['Diego', 'Eric', 'Eva', 'Sophie', 'Xochitl']

In [53]:
sorted(nombres, key=len(nombres))

TypeError: 'int' object is not callable

In [54]:
sorted(nombres, key=lambda name: len(name))

['Eva', 'Eric', 'Diego', 'Sophie', 'Xochitl']

In [55]:
sorted(nombres, key=lambda name: len(name), reverse=True)

['Xochitl', 'Sophie', 'Diego', 'Eric', 'Eva']

## 2.4 apply()
Es utilizado para aplicar funciones de un eje de un DataFrame.

In [70]:
df = pd.DataFrame({'Producto': ["Helado", "Pan", "Shampoo", "Desodorante"],
    'Precio': [24, 8, 67, 50]})

In [71]:
df["Producto"].upper()

AttributeError: 'Series' object has no attribute 'upper'

In [72]:
df["Producto"].apply(lambda nombre: nombre.upper())

0         HELADO
1            PAN
2        SHAMPOO
3    DESODORANTE
Name: Producto, dtype: object

In [82]:
def barato(precio):
    if precio <= 30:
        print("Barato")
    else:
        print("Caro")

In [81]:
df.Precio.apply(barato)

0    Barato
1    Barato
2      Caro
3      Caro
Name: Precio, dtype: object

In [83]:
df.Precio.apply(lambda precio: "Barato" if precio <= 30 else "Caro")

0    Barato
1    Barato
2      Caro
3      Caro
Name: Precio, dtype: object

In [85]:
df["Producto"]+"_"+str(df["Precio"])

0    Helado_0    24\n1     8\n2    67\n3    50\nNam...
1    Pan_0    24\n1     8\n2    67\n3    50\nName: ...
2    Shampoo_0    24\n1     8\n2    67\n3    50\nNa...
3    Desodorante_0    24\n1     8\n2    67\n3    50...
Name: Producto, dtype: object

In [92]:
df.apply(lambda column: (column["Producto"]+"_"+str(column["Precio"])), axis=1)

0         Helado_24
1             Pan_8
2        Shampoo_67
3    Desodorante_50
dtype: object

## Ejercicios

1. Dadas dos listas, donde la primer lista son bases y la segunda lista son exponentes, calcula la potencia de cada base elevada al exponente correspondiente

Input:

base = [7,20,5]

exp = [2,4,5]

Output:

[49, 160000, 3125]

In [56]:
base = [7,20,5]
exp = [2,4,5]

list(map(lambda x, y: x**y, base, exp))

[49, 160000, 3125]

2. Ordena la siguiente lista de acuerdo al orden alfabético del tercer elemento de cada tupla

Input:

tuplas = [(2,"kg","verdura"),(3,"pieza","pan"),(1,"litro","leche")]

Output:

[(1, 'litro', 'leche'), (3, 'pieza', 'pan'), (2, 'kg', 'verdura')]

In [58]:
tuplas = [(2,"kg","verdura"),(3,"pieza","pan"),(1,"litro","leche")]

sorted(tuplas, key=lambda tupla: tupla[2])

[(1, 'litro', 'leche'), (3, 'pieza', 'pan'), (2, 'kg', 'verdura')]

In [68]:
# Crear un DataFrame de ejemplo
df = pd.DataFrame({
    'Nombre Completo': ['ana perez', 'LUIS GARCÍA', 'carlos saenz', 'María López']
})

# Aplicar una función lambda para normalizar el formato de nombres
df['Nombre Normalizado'] = df['Nombre Completo'].apply(lambda x: ' '.join(word.capitalize() for word in x.split()))
print(df)

  Nombre Completo Nombre Normalizado
0       ana perez          Ana Perez
1     LUIS GARCÍA        Luis García
2    carlos saenz       Carlos Saenz
3     María López        María López