## Al estilo de la vieja escuela

### 1. Concatenación

In [1]:
uno = "Hola"
dos = "Mundo"

In [3]:
uno + dos

'HolaMundo'

In [4]:
uno + " " + dos

'Hola Mundo'

In [5]:
nombre = "Diego"
edad = 28

In [6]:
"Hola mi nombre es " + nombre + "y tengo" + edad + "años"

TypeError: can only concatenate str (not "int") to str

In [8]:
"Hola mi nombre es " + nombre + "y tengo " + str(edad) + " años"

'Hola mi nombre es Diegoy tengo 28 años'

In [10]:
"Hola mi nombre es " + nombre + "y tengo " + str(edad) + " años. Este año cumplo " + str(edad+1) + "años."

'Hola mi nombre es Diegoy tengo 28 años. Este año cumplo 29años.'

**Limitaciones:**
- Poca legibilidad, especialmente con muchas variables (falta de narrativa).
- Necesidad de convertir tipos no string (int, float, etc.) manualmente usando str().

### 2. El operador %

In [11]:
nombre = "Diego"
edad = 28

In [12]:
"Hola mi nombre es %s y tengo %f años"%(nombre, edad)

'Hola mi nombre es Diego y tengo 28.000000 años'

In [13]:
"Hola mi nombre es %s y tengo %d años"%(nombre, edad)

'Hola mi nombre es Diego y tengo 28 años'

In [14]:
"Hola mi nombre es %s y tengo %d años, este año cumplo %d"%(nombre, edad, edad+1)

'Hola mi nombre es Diego y tengo 28 años, este año cumplo 29'

**Ventajas:**
- Más limpio que la concatenación simple.

**Limitaciones:**
- Dificultad para formatear correctamente números y otros tipos de datos.
- Poco intuitivo y difícil de mantener en strings complejas.

### 3. El método .format

In [15]:
nombre = "Diego"
edad = 28

In [17]:
"Hola mi nombre es {} y tengo {}".format(nombre, edad, edad+1)

'Hola mi nombre es Diego y tengo 28'

In [ ]:
"Hola mi nombre es {} y tengo {}".format(nombre, edad, edad+1)

In [18]:
"Hola mi nombre es {0} y tengo {2}".format(nombre, edad, edad+1)

'Hola mi nombre es Diego y tengo 29'

In [19]:
"Hola mi nombre es {2} y tengo {0}".format(nombre, edad, edad+1)

'Hola mi nombre es 29 y tengo Diego'

In [20]:
"Hola mi nombre es {nombre} y tengo {edad}".format(nombre="Yuri", edad=42)

'Hola mi nombre es Yuri y tengo 42'

**Ventajas:**
- Más legible y flexible que las opciones anteriores.

**Limitaciones:**
- Puede ser verboso y repetitivo, especialmente cuando hay muchas variables o formateo complejo.

## El estilo más pythonico: f-strings

In [22]:
nombre = "diego canul"
edad = 28

In [24]:
"Hola mi nombre es {nombre} y tengo {edad} años"

'Hola mi nombre es {nombre} y tengo {edad} años'

In [25]:
f"Hola mi nombre es {nombre} y tengo {edad} años"

'Hola mi nombre es diego canul y tengo 28 años'

In [27]:
f"Hola mi nombre es {nombre.capitalize()} y tengo {edad} años"

'Hola mi nombre es Diego canul y tengo 28 años'

In [28]:
f"Hola mi nombre es {nombre.upper()} y tengo {edad} años"

'Hola mi nombre es DIEGO CANUL y tengo 28 años'

In [29]:
f"Hola mi nombre es {nombre.title()} y tengo {edad} años"

'Hola mi nombre es Diego Canul y tengo 28 años'

In [31]:
f"Hola mi nombre es {nombre.title()[0:5]} y tengo {edad} años"

'Hola mi nombre es Diego y tengo 28 años'

In [32]:
f"Hola mi nombre es {nombre.title()[:-6]} y tengo {edad} años"

'Hola mi nombre es Diego y tengo 28 años'

In [33]:
f"Dentro de 5 años tendre {edad+5}"

'Dentro de 5 años tendre 33'

In [34]:
pi = 3.14159265

In [43]:
numero = 7

In [44]:
f"Estamos en la libreta {numero:03d}"

'Estamos en la libreta 007'

In [50]:
numero=23.5

In [52]:
f"Estamos en la libreta {numero:.3f}"

'Estamos en la libreta 23.500'

### E1: 
Dado un día, mes y año como variables enteras, crea una f-string que imprima la fecha en el formato dd/mm/aaaa, asegurándote de que el día y el mes siempre tengan dos dígitos.

In [58]:
dia = 1
mes = 8
año = 2024

# Resultado esperado: La fecha de hoy es 20/08/2024

In [60]:
f"La fecha de hoy es {dia:02d}/{mes:02d}/{str(año)[-2:]}"

'La fecha de hoy es 01/08/24'

In [61]:
año[-2:]

TypeError: 'int' object is not subscriptable

### E2:
Dada una lista de productos con sus precios, utiliza una f-string para imprimir cada producto con su precio, formateado a dos decimales.

In [62]:
productos = [("Manzanas", 1.5), ("Naranjas", 2.75), ("Plátanos", 0.99)]

# Resultado esperado:
# Manzanas:     1.50
# Naranjas:     2.75
# Plátanos:     0.99

In [64]:
for elemento in productos:
    print(elemento[0], elemento[1])

Manzanas 1.5
Naranjas 2.75
Plátanos 0.99

In [67]:
for producto, precio in productos:
    print(f"{producto}: {precio:.2f}")

Manzanas: 1.50
Naranjas: 2.75
Plátanos: 0.99

#### E3:
Dada una lista de días y un diccionario que contiene temperaturas máximas y mínimas registradas cada día, crea un reporte que muestre la temperatura promedio para cada día.

In [68]:
dias = ["Lunes", "Martes", "Miércoles"]
temperaturas = {
    "maximas": [30, 28, 27],
    "minimas": [20, 18, 17]
}

# Resultado esperado:
# Lunes: Temperatura promedio: 25.0°C
# Martes: Temperatura promedio: 23.0°C
# Miércoles: Temperatura promedio: 22.0°C

In [71]:
for pos in range(len(dias)):
    dia = dias[pos]
    t_max = temperaturas["maximas"][pos]
    t_min = temperaturas["minimas"][pos]
    t_mean = (t_max+t_min)/2

    print(f"{dia}: Temperatura promedio: {t_mean:.1f}°C")

Lunes: Temperatura promedio: 25.0°C
Martes: Temperatura promedio: 23.0°C
Miércoles: Temperatura promedio: 22.0°C

In [72]:
temperaturas = {
    "maximas": [30, 28, 27],
    "minimas": [20, 18, 17]
}

In [74]:
temperaturas["maximas"][1]

28