In [1]:
import pandas as pd

## 1. Funcionas lambda
Una función lambda es una función definida por el usuario (las que hemos creado **def**) que pueden ser definidas sin tener un nombre, también son conocidas como funciones anónimas.

### Sintaxis

![](../lambda.png)

In [2]:
def potencia(num):
    return num**2

In [3]:
potencia(3)

9

In [4]:
potencia(5.6)

31.359999999999996

In [6]:
lambda num: num**2

In [7]:
(lambda num: num**2)(3)

9

In [8]:
3**2

9

In [9]:
potencia = lambda num: num**2

In [10]:
potencia(3)

9

In [11]:
potencia(6)

36

### Cuándo usar una función lambda?
Para crear expresiones simples y específicas, funciones que se utilizan una sola vez y no es necesario definir una función completa.

In [18]:
lambda x: x**3

In [19]:
_(5.6)

175.61599999999996

In [20]:
_(5)

TypeError: 'float' object is not callable

In [21]:
lambda x, y: x**y

In [22]:
_(3)

TypeError: <lambda>() missing 1 required positional argument: 'y'

In [23]:
_(5,3)

125

In [24]:
lambda x, y, z: x**y + z**y

In [25]:
_(y=3, x=2, z=5)

133

## 2. Uso de funciones lambda con otras funciones
Built-in functions de python que requieren el uso de una función como argumento
1. map()
2. filter()
3. sorted()
4. apply()

https://docs.python.org/3/library/functions.html

### 2.1 map()
Aplica una función a cada elemento de un iterable y devuelve un objeto map. Se utiliza cuando se requiere realizar una operación en cada elemento del iterable

**map(function, iterable)**

In [26]:
numeros = [1,2,3,4]

In [27]:
def cuadrado(num):
    return num**2

In [28]:
cuadrado(4)

16

In [29]:
cuadrado(numeros)

TypeError: unsupported operand type(s) for ** or pow(): 'list' and 'int'

In [30]:
map(cuadrado, numeros)

In [31]:
list(map(cuadrado, numeros))

[1, 4, 9, 16]

In [33]:
list(map(lambda num: num**2, numeros))

[1, 4, 9, 16]

1. Dadas dos listas, donde la primer lista son bases y la segunda lista son exponentes, calcula la potencia de cada base elevada al exponente correspondiente

Input:

base = [7,20,5]

exp = [2,4,5]

Output:

[49, 160000, 3125]

In [34]:
base = [7,20,5]

exp = [2,4,5]

In [37]:
list(map(lambda x, y: x**y, base, exp))

[49, 160000, 3125]

### Sintaxis:

**map(function, args)**

**lambda args: function**

## 2.2 filter()
Filtra los elementos de un iterable utilizando una función que devuelve True or False. Retorna un objeto filter con los elementos que cumplen la condición

**filter(function, iterable)**

In [43]:
numeros = [1,2,3,4,5,6,7,8,9,10]

In [39]:
5/2

2.5

In [40]:
5%2

1

In [41]:
5%2 == 0

False

In [42]:
8%2 == 0

True

In [44]:
filter(lambda num: num%2 == 0, numeros)

In [45]:
list(filter(lambda num: num%2 == 0, numeros))

[2, 4, 6, 8, 10]

## 2.3 sorted()
Es una función que ordena los elementos de un iterable y devuelve una lista ordenado. El criterio de ordenamiento puede ser utilizando el parámetro key.

**sorted(iterable, key=None, reverse=False)**

In [46]:
nombres = ["Sophie", "Xochitl", "Eric", "Diego", "Tom", "Jerry"]

In [48]:
sorted(nombres)

['Diego', 'Eric', 'Jerry', 'Sophie', 'Tom', 'Xochitl']

In [49]:
sorted(nombres, key=len(nombres))

TypeError: 'int' object is not callable

In [50]:
sorted(nombres, key=lambda name: len(name))

['Tom', 'Eric', 'Diego', 'Jerry', 'Sophie', 'Xochitl']

In [51]:
sorted(nombres, key=lambda name: len(name), reverse=True)

['Xochitl', 'Sophie', 'Diego', 'Jerry', 'Eric', 'Tom']

2. Ordena la siguiente lista de acuerdo al orden alfabético del tercer elemento de cada tupla

Input:

tuplas = [(2,"kg","verdura"),(3,"pieza","pan"),(1,"litro","leche")]

Output:

[(1, 'litro', 'leche'), (3, 'pieza', 'pan'), (2, 'kg', 'verdura')]

In [54]:
tuplas = [(2,"kg","verdura"),(3,"pieza","pan"),(1,"litro","leche")]
sorted(tuplas, key = lambda tupla: tupla[2])

[(1, 'litro', 'leche'), (3, 'pieza', 'pan'), (2, 'kg', 'verdura')]

### 2.4 apply()
Es utilizado para aplicar funciones en un eje de un DataFrame

**df["column"].apply(function)**

In [68]:
df = pd.DataFrame({"Producto":["Helado", "Pan", "Shampoo","Desdorante"],
                  "Precio":[24,8, 67, 50]})

In [58]:
df["IVA"] = df.Precio*1.16
df

     Producto  Precio    IVA
0      Helado      24  27.84
1         Pan       8   9.28
2     Shampoo      67  77.72
3  Desdorante      50  58.00

In [59]:
df["Producto"].upper()

AttributeError: 'Series' object has no attribute 'upper'

In [62]:
## **df["column"].apply(function)**

df["Producto"] = df["Producto"].apply(lambda nombre: nombre.upper())
df

     Producto  Precio    IVA
0      HELADO      24  27.84
1         PAN       8   9.28
2     SHAMPOO      67  77.72
3  DESDORANTE      50  58.00

In [70]:
def barato(precio):
    if precio <= 30:
        return("Barato")
    else:
        return("Caro")

In [71]:
# barato(df.Precio)

In [72]:
df.Precio.apply(barato)

0    Barato
1    Barato
2      Caro
3      Caro
Name: Precio, dtype: object

In [73]:
df.Precio.apply(lambda precio: "Barato" if precio <= 30 else "Caro")

0    Barato
1    Barato
2      Caro
3      Caro
Name: Precio, dtype: object

In [75]:
# Helado_24
# Pan_8
# Shampoo_67

In [80]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Producto  4 non-null      object
 1   Precio    4 non-null      int64
dtypes: int64(1), object(1)
memory usage: 196.0+ bytes

In [81]:
df[["Producto", "Precio"]].apply(lambda column: column["Producto"]+"_"+str(column["Precio"]), axis=1)

0        Helado_24
1            Pan_8
2       Shampoo_67
3    Desdorante_50
dtype: object